/jf.admin/jf/target

/jf.admin/jf/.settings
/jf.admin/jf/jf.config/.settings/*.prefs
/jf.admin/jf/jf.config/.settings/*.component
/jf.admin/jf/jf.config/.settings/*.xml
/jf.admin/jf/jf.core/.settings/*.prefs
/jf.admin/jf/jf.core/.settings/*.component
/jf.admin/jf/jf.core/.settings/*.xml
/jf.admin/jf/jf.monitor/.settings/*.prefs
/jf.admin/jf/jf.monitor/.settings/*.component
/jf.admin/jf/jf.monitor/.settings/*.xml
/jf.admin/jf/jf.security/.settings/*.prefs
/jf.admin/jf/jf.security/.settings/*.component
/jf.admin/jf/jf.security/.settings/*.xml
/jf.admin/jf/jf.support/.settings/*.prefs
/jf.admin/jf/jf.support/.settings/*.component
/jf.admin/jf/jf.support/.settings/*.xml
/jf.admin/jf/jf.war/.settings/*.jsdtscope
/jf.admin/jf/jf.war/.settings/*.prefs
/jf.admin/jf/jf.war/.settings/*.component
/jf.admin/jf/jf.war/.settings/*.xml
/jf.admin/jf/jf.war/.settings/*.container
/jf.admin/jf/jf.war/.settings/*.name
